<div ng-init="init()">
	<div class="chars-area">
		<textarea id="{{ id }}" class="form-control" placeholder="Message Text" ng-model="result" maxlength="{{ max }}"></textarea>
		<span>
			<span ng-show="size > minLms">3 messages </span>
			<span>{{ size }}</span> /
			<span>{{ max }}</span>
			<span class="fa fa-question-circle-o" uib-tooltip="You can go over {{ minLms }} characters and have {{ max }}. This will cost 3 text credits." tooltip-placement="left"></span>
		</span>
	</div>

	<div class="btn-group btn-group-justified move-top-pixel" ng-show="! showMessageTextUrl">
		<div class="btn-group" ng-if="firstname">
			<button ng-click="insert(firstnameTag)" type="button" class="btn btn-sm btn-default">
				<i class="fa fa-user"></i> First Name
			</button>
		</div>

		<div class="btn-group" ng-if="lastname">
			<button ng-click="insert(lastnameTag)" type="button" class="btn btn-sm btn-default">
				<i class="fa fa-user-o"></i> Last Name
			</button>
		</div>

		<div class="btn-group" ng-if="link">
			<button ng-click="insert(linkTag)" type="button" class="btn btn-sm btn-default">
				<i class="fa fa-link"></i> Review Link
			</button>
		</div>

		<div class="btn-group" ng-if="shortlink">
			<button ng-click="toggleUrl()" type="button" class="btn btn-sm btn-default">
				<i class="fa fa-link"></i> Short Link
			</button>
		</div>
	</div>

	<div ng-show="showMessageTextUrl" class="input-group short-url-box">
		<input class="form-control" type="text" placeholder="Add your link here" ng-model="shortLinkMessageText" />
		<div class="input-group-btn">
			<button ng-click="insertShortLink(shortLinkMessageText)" type="button" class="btn btn-sm btn-primary">
				<i class="fa fa-refresh"></i>
			</button>
			<button id="refresh" ng-click="toggleUrl()" type="button" class="btn btn-sm btn-default">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
</div>